button {
	color: #aaa;
	background-color: #222;
	border: 0px;
	padding: 2px 5px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

	button:hover {
		color: #ccc;
		background-color: #444;
	}

	button.selected {
		color: #fff;
		background-color: #08f;
	}

input, textarea {
	background-color: #222;
	border: 0px solid transparent;
	color: #888;
}

input.Number {
	color: #08f!important;
	font-size: 10px;
	border: 0px;
	padding: 0px;
	cursor: col-resize;
}

select {
	color: #aaa;
	background-color: #222;
	border: 0px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

	select:hover {
		color: #ccc;
		background-color: #444;
	}

#tabs {
background-color: #1b1b1b;
border-top: 1px solid #222;
}

#tabs span {
color: #555;
border-right: 1px solid #222;
padding: 10px;
}

#tabs span.selected {
color: #888;
background-color: #111;
}

/* UI */

#viewport {
	position: absolute;
	top: 40px;
	left: 300px;
	right: 200px;
	bottom: 0px;
}

#camera_viewport {
	position: absolute;
	top: 40px;
	left: 300px;
	right: 200px;
	bottom: 0px;
}

#nEditor {
	position: absolute;
	top: 40px;
	left: 300px;
	right: 200px;
	bottom: 0px;
}

#menubar {
	position: absolute;
	width: 100%;
	height: 40px;
	background: #111;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
}

	#menubar .menu {
		float: left;
		cursor: pointer;
		padding-right: 8px;
	}

	#menubar .menu.right {
		float: right;
		cursor: auto;
		padding-right: 0;
		text-align: right;
	}

		#menubar .menu .title {
			display: inline-block;
			color: #888;
			margin: 0;
			padding: 8px;
		}

		#menubar .menu .options {
			position: fixed;
			display: none;
			padding: 5px 0;
			background: #111;
			width: 150px;
			max-height: calc(100% - 80px);
			overflow: auto;
		}

		#menubar .menu:hover .options {
			display: block;
		}

			#menubar .menu .options hr {
				border-color: #222;
			}

			#menubar .menu .options .option {
				color: #888;
				background-color: transparent;
				padding: 5px 10px;
				margin: 0 !important;
			}

				#menubar .menu .options .option:hover {
					color: #fff;
					background-color: #08f;
				}

				#menubar .menu .options .option:active {
					background: transparent;
				}

		#menubar .menu .options .inactive {
			color: #444;
			background-color: transparent;
			padding: 5px 10px;
			margin: 0 !important;
		}

#sidebar {
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 0;
	width: 300px;
	background-color: #111;
	overflow: auto;
}

	#sidebar * {
		vertical-align: middle;
	}

	#sidebar .Panel {
		color: #888;
		padding: 0px;
		border-top: 1px solid #222;
	}

	#sidebar .Panel.collapsed {
		margin-bottom: 0;
	}

	#sidebar .Panel.Material canvas {
		border: solid 1px #5A5A5A;
	}

	#sidebar .Row {
		min-height: 20px;
		margin-bottom: 10px;
	}

#sidebar_right {
	position: absolute;
	right: 0;
	top: 40px;
	bottom: 0;
	width: 200px;
	background-color: #111;
	overflow: auto;
}

	#sidebar_right * {
		vertical-align: middle;
	}

	#sidebar_right .Panel {
		color: #888;
		padding: 0px;
		border-top: 1px solid #222;
	}

	#sidebar_right .Panel.collapsed {
		margin-bottom: 0;
	}

	#sidebar_right .Panel.Material canvas {
		border: solid 1px #5A5A5A;
	}

	#sidebar_right .Row {
		min-height: 20px;
		margin-bottom: 10px;
	}

	#sidebar_right .heartView {
		width: 180px;
		height: 180px;
	}

	#sidebar_right .valenceView {
		width: 200px;
		height: 200px;
	}