#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/


}

#videoel {
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/


}

#container {
    position : relative;
    width : 370px;
    /*margin : 0px auto;*/
}

#content {
    margin-top : 50px;
    margin-left : auto;
    margin-right : auto;
    max-width: 600px;
}


.btn {
    font-family: 'Lato';
    font-size: 16px;
}

#controls {
    text-align : center;
}

#emotion_container {
    width: 600px;
}

#emotion_icons {
    height: 50px;
    padding-left: 40px;
}

.emotion_icon {
    width : 40px;
    height : 40px;
    margin-top: 5px;
    /*margin-left : 13px;*/
    margin-left : 35px;
}

#emotion_chart, #emotion_icons {
    margin: 0 auto;
    width : 400px;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
    visibility : hidden;
}