.x-node:before{
	content:attr(title) " ";
	display: block;
	border-top-left-radius:.75em;
	border-top-right-radius:.75em;
	background-color:#6e6e6e;
	padding:0.1em .3em 0em;
	margin:-.1em -.3em 0.2em;
}
.x-node{
	color: #d4d4d4;
	font-family: sans-serif;
	background-color: #4e4e4e;
	border-radius: .75em;
	display: inline-block;
	padding:0.1em .3em .25em;
	position:absolute;
	box-shadow: 2px 2px 10px black;
	white-space: nowrap;
}
.x-output,
.x-connection:after{
	position:absolute;
	border:solid 1px #dedede;
	background-color:#2e2e2e;
	width:0.5em;
	height:0.5em;
	border-radius:0.5em;
}
.x-node.connected > .x-output,
.x-connection.filled:after{
	border:solid 1px transparent;
	background-color:#aeaeae;
}
.x-node > .x-output:hover,
.x-connection:hover:after{
	border-color:red;
}
.x-output{
	left: -.5em;
	top:1em;
	cursor: pointer;
}
.x-output.hide{
	display: none;
}
.x-connection, .x-input{
	width:100%;
	position:relative;
	padding-right:0.5em;
	cursor:pointer;
}
.x-connection:after{
	content:"";
	right:0em;
	top:0.25em;
}
.x-input{
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	cursor: default;
}
.x-input input{
	width: 15ch;
}
#node-graph{
	/*background-image: linear-gradient(to right, transparent 18px, #4e4e4e 20px), linear-gradient(to bottom, #2e2e2e 18px, #4e4e4e 20px);*/
	/*background-size: 20px 20px;*/
	/*position:absolute;*/
	/*top:0px;*/
	/*left:0px;*/
	/*z-index:-100;*/
	/*width:100%;*/
	/*height:100%;*/
}
